terraform\.terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform\terra-automate-key
terraform\terra-automate-key.pub
terraform\terraform.tfstate
terraform\terraform.tfstate.backup
kubernetes\assets
Assets
frontend/node_modules
frontend/dist